body {
  font-family: "Roboto", sans-serif;
  color: var(--text);
  background-color: var(--white-background);
}

:root {
  --primary-brand: #4D5AE5;
  --pressed-state: #404BBF;
  --dark: #2E2F42;
  --success: #31D0AA;
  --text: #434455;
  --subtle-text: #8E8F99;
  --accent: #E7E9FC;
  --light: #F4F4FD;
  --modal-overlay: #2E2F42;
  --hero-background: #2E2F42;
  --white-background: #ffffff;
  --modal-background: #FCFCFC;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 1158px;
  margin: auto;
  padding: 0 15px 0 15px;
}

.div-container {
  display: flex;
}

.container-icon-solutions {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: var(--light);
  border-radius: 4px;
  margin-bottom: 8px;
}

.container-footer {
  display: flex;
  align-items: baseline;
}

img {
  display: block;
}

ul,
ol {
  list-style: none;
  margin: auto;
  padding-left: 0;
  padding-right: 0;
}

.link {
  text-decoration: none;
}

.link-card {
  text-decoration: none;
  display: block;
}

.list {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*INDEX*/

.header {
  border-bottom: 1px solid var(--accent);
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 24px 0;
}

.logo-in-header {
  color: var(--primary-brand);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}

.studio-header {
  color: var(--dark);
}

.menu {
  display: flex;
  gap: 40px;
}

.menu-text {
  color: var(--dark);
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0 24px;
}

.menu-text:hover,
.menu-text:focus {
  color: var(--pressed-state);
}

.address {
  font-style: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}

.address-text {
  margin-right: 0 940px;
  gap: 40px;
}

.contact {
  color: var(--text);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
}

.contact:hover,
.contact:focus {
  color: var(--pressed-state);
}

.hero-section {
  background-color: var(--modal-overlay);
  padding: 188px 0;
  display: flex;
  text-align: center;

  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-studio/people-office.jpg);

  max-width: 1440px;
  height: 600px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}

.hero-title {
  color: var(--white-background);
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  display: flex;
  max-width: 496px;
  margin: 0 auto;

}

.order-service {
  color: var(--white-background);
  background-color: var(--primary-brand);
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;

  cursor: pointer;
  display: block;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin: auto;
  margin-top: 48px;
}

.order-service:hover,
.order-service:focus {
  background-color: var(--pressed-state);
}

.section {
  padding: 120px 0;
}

.section-three {
  padding-top: 0;
  padding-bottom: 120px;
}

.section-two-list {
  display: flex;
  gap: 24px;
}

.value {
  flex-basis: calc((100% - 3 * 24px) / 4);
}

.list-point-width_three {
  flex-basis: calc((100% - 3 * 16px) / 3);
}

.heading-title {
  color: var(--dark);
  font-family: inherit;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  text-align: center;
}

.feature {
  color: var(--text);
  font-family: inherit;
  font-weight: 400;
  line-height: 1.5;
  font-size: 16px;
  letter-spacing: 0.02em;
  text-align: center;
}

.social-network {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.clients-list {
  display: flex;
  gap: 24px;
}

.clients {
  color: var(--subtle-text);

  width: 100%;
  height: 100%;
  border: 1px solid var(--subtle-text);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clients:hover,
.clients:focus {
  border-color: var(--pressed-state);
  color: var(--pressed-state);
}

.clients-items {
  width: calc((100% - 120px) / 6);
  height: 88px;
  list-style: none;
}

.ellipse {
  width: 40px;
  height: 40px;
}

.social-items-index {
  background-color: var(--primary-brand);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-items-index:hover,
.social-items-index:focus {
  background-color: #404bbf;
}

.social-items-portfolio {
  background-color: var(--primary-brand);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-items-portfolio:hover,
.social-items-portfolio:focus {
  background-color: #31D0AA;
}

.social-items-footer {
  background-color: var(--primary-brand);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-items-footer:hover,
.social-items-footer:focus {
  background-color: #31d0aa;
}

.svg-section-four {
  fill: var(--light);
}

.svg-section-five {
  fill: currentColor;
}

.svg-footer {
  fill: var(--light);
}

.section-title {
  color: var(--dark);
  font-family: inherit;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  margin: 0 0 72px 0;
}

.background-section {
  background-color: var(--white-background);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.filter-btn:hover,
.filter-btn:focus {
  color: var(--white-background);
  background-color: var(--pressed-state);
  border: 1px solid transparent;
}

.filter-btn {
  color: var(--primary-brand);
  background-color: var(--light);
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;

  padding: 12px 24px 12px;
  border: 1px solid var(--accent);
  border-radius: 4px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}

.footer {
  background-color: #2e2f42;
  padding: 100px 0 100px;
}

.logo-in-footer {
  color: var(--primary-brand);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-link {
  display: inline-block;
  margin-bottom: 16px;
}

.brand {
  margin-right: 120px;
}

.social-media-footer {
  color: var(--white-background);
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin: 0 0 16px 0;
}

.footer-list {
  display: flex;
  gap: 16px;
}

.studio-footer {
  color: #f4f4fd;
}

.menu-text:hover {
  color: var(--pressed-state);
}

.menu-text:focus {
  color: var(--pressed-state);
}

.studio-btn:hover {
  color: var(--pressed-state);
}

.studio-btn:focus {
  color: #404bbf;
}

.members {
  background-color: var(--light);
}

.footer-text {
  color: var(--light);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
  margin-bottom: 0 0 16px 0;
}

.employee {
  padding: 32px 0px;
}

.portfolio-main {
  padding: 96px 0 120px 0;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.project-card {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.card-content {
  flex-basis: calc((100% - 48px)/3);
}

.card-text {
  padding: 32px 16px;
  border: 1px solid var(--accent);
  border-top: none;
  margin-bottom: 8px;
}

.link-card:hover,
.link-card:focus {
  box-shadow: 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08)
}